.btn-plus-minus {
    color: #6c757d !important;
    background-color: #ffffff !important;
    border-color: #6c757d !important;
}
.btn-delete {
    color: #dc3545 !important;
    background-color: #ffffff !important;
    border-color: #dc3545 !important;
}
.btn-edit {
    color: #28a745 !important;
    background-color: #ffffff !important;
    border-color: #28a745 !important;
}